<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Elastos.Droid.Chromium">
    <uses-sdk android:minSdkVersion="21"
              android:targetSdkVersion="21">
    </uses-sdk>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application android:label="Android System WebView"
    	android:icon="@drawable/icon_webview"
	android:multiArch="true">
    </application>

</manifest>
