#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Gcc Devtools
Comment=Elastos RDK Development Env
TryExec=gnome-terminal
Exec=gnome-terminal -e 'bash --init-file ~/ElastosRDK4_2_2/Setup/Gcc_Devtools_Init'
Icon=~/ElastosRDK4_2_2/Setup/Shortcuts/Gcc_Devtools.ico
#Icon=utilities-terminal
Type=Application
Categories=TerminalEmulator
StartupNotify=true
#OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=gnome-terminal
