<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ActivityTest"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="CActivityOne"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="CActivityTwo"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="com.elastos.ActivityTest.CActivityTwo"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>