//==========================================================================
// Copyright (c) 2000-2008,  Elastos, Inc.  All Rights Reserved.
//==========================================================================

1 ClassInfo "../../../Library/syscar/ElastosCore.cls"
