//==========================================================================
// Copyright (c) 2000-2009,  Elastos, Inc.  All Rights Reserved.
//==========================================================================

1 ClassInfo ".\\samcar\\sample.cls"
